.mainHome {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainHome h1 {
  font-size: 55px;
}
.containCards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 350px);
  grid-row: auto;
  justify-content: center;
  align-items: center;
}
