.cardAnswer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.answer {
  background-color: #936f04;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardAnswer h1 {
  font-size: 24px;
  width: 600px;
  font-weight: normal;
  padding: 10px 30px;
}
.cardAnswer h2 {
  font-size: 40px;
  margin: -5px 10px 0 0;
  font-weight: lighter;
  cursor: pointer;
}
.cardAnswer {
  position: relative;
}

.description {
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  border: 2px solid #936f04;
  width: 666px;
  background-color: transparent;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.description p {
  font-size: 18px;
}
.cardAnswer.show-description .description {
  max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
  visibility: visible;
  margin: 0 0 5px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: max-height 0.5s ease-in-out;
}
