.containSwiper {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
.swiperPubli {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 50%;
  position: relative;
  left: 175px;
}
.textSwiper {
  width: 50%;
  height: 100%;
}
.cardSwiper {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
