#sliderHeader {
  width: 100% !important;
  height: 100% !important;
}
.sliderHead {
  width: 100% !important;
  height: 100% !important;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100wh !important;
  height: 100% !important;
}

.sliderHead img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
