.footerHome {
  color: white;
}

@media (max-width: 425px) {
  .footerHome {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
  }
  .footerSuperior {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footerSuperior h1 {
    width: 100% !important;
    text-align: center !important;
  }
  .footerSuperior p {
    width: 95% !important;
  }
  .footerSuperior p span {
    font-size: 20px;
    cursor: pointer;
  }
  .footerInferior {
    width: 100%;
    height: 50px;
    background-color: #efb810;
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }
}

@media (min-width: 425.1px) and (max-width: 768px) {
  .footerHome {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
  }
  .footerSuperior {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footerSuperior h1 {
    width: 100% !important;
    text-align: center !important;
  }
  .footerSuperior p {
    width: 95% !important;
  }
  .footerSuperior p span {
    font-size: 20px;
    cursor: pointer;
  }
  .footerInferior {
    width: 100%;
    height: 50px;
    background-color: #efb810;
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }
}

@media (min-width: 768.1px) and (max-width: 1024px) {
  .footerHome {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
  }
  .footerSuperior {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footerSuperior h1 {
    width: 100% !important;
    text-align: center !important;
  }
  .footerSuperior p {
    width: 500px !important;
  }
  .footerSuperior p span {
    font-size: 20px;
    cursor: pointer;
  }
  .footerInferior {
    width: 100%;
    height: 50px;
    background-color: #efb810;
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }
}

@media (min-width: 1024.1px) and (max-width: 1440px) {
  .footerHome {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
  }
  .footerSuperior {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footerSuperior h1 {
    width: 100% !important;
    text-align: center !important;
  }
  .footerSuperior p {
    width: 600px !important;
  }
  .footerSuperior p span {
    font-size: 20px;
    cursor: pointer;
  }
  .footerInferior {
    width: 100%;
    height: 50px;
    background-color: #efb810;
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }
}

@media (min-width: 1440.1px) {
  .footerHome {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
  }
  .footerSuperior {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footerSuperior h1 {
    width: 100% !important;
    text-align: center !important;
  }
  .footerSuperior p {
    width: 1000px !important;
  }
  .footerSuperior p span {
    font-size: 20px;
    cursor: pointer;
  }
  .footerInferior {
    width: 100%;
    height: 50px;
    background-color: #efb810;
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }
}
